<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT</title>
</head>
<body>

<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<h1>Welcome to Our Business!</h1>
<p>We are a cutting-edge company dedicated to delivering innovative solutions and exceptional services to our clients. With a focus on quality, integrity, and customer satisfaction, we strive to exceed expectations and drive success.</p>


</body>
</html>
